/*------------- SCREEN ------------*/
body {margin: 0; background-color: black;}
.screen, .box {
    position: relative;
    width: 500px;
    height: 50%;
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
} .box {display: flex; flex-direction: column; background-color: rgb(31, 31, 31);}

.screen {background-color: #ebfbff;}

@media screen and (max-width: 520px) {
    .screen, .box {width: 95vw;}
}

/*------------- GROUND -------------*/

div.screen div.ground {
    position: relative;
    left: -2px;
    top: 80%;
    width: 100%;
    height: 20%;
    background-color: rgb(54, 31, 31);
    border: 2px solid green;
}

/*------------ CHARACTER ------------*/

div.screen div.character {
    background-color: white;
    position: relative;
    left: 3%;
    bottom: 2em;
    z-index: 1;
    width: 15px;
    height: 30px;
}

/*------------- ENEMIES -------------*/

div.screen div.enemies {
    background-color: white;
    position: relative;
    bottom: 44px;
    left: calc(100% - 0.75em);
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

div.box div.answerBox1, div.box div.answerBox2, div.box div.questionBox {
    margin: 2px;
    padding: 5%;
} 

div.box div.answerBox1, div.box div.answerBox2 {background-color: rgb(53, 53, 53); color: white; border: 1px solid rgb(211, 211, 211);}
.questionBox {text-align: center; background-color: rgb(221, 221, 221);}

.boxForScore {
    font-family: monospace, sans-serif;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 5px;
}

.boxForPoint {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 2%;
}

/*--------------- SUN ---------------*/

.sun {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 103);
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px rgb(255, 199, 56);
}

/* COUNTER */

.counter {
    position: absolute;
    font-size: 100px;
    width: 100%;
    text-align: center;
    top: 20%;
}

/* BLACKBOX */

.blackBox {
    color: white;
    background-color: rgb(31, 31, 31);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blackBox div {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* FULLSCREEN */

.fullScreen {
    font-size: 10px;
    border: 1px solid white;
    color: white;
    padding: 5px;
    z-index: 2;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.fullScreen:hover {
    background-color: white;
    color: black;
}

.allScreen {
    position: fixed;
    height: 85vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.cloud {
    background-image: url("cloud.png");
    background-size: 30px;
    position: absolute;
    z-index: 3;
    left: 100%;
    top: 15%;
    width: 30px;
    height: 20px;   
}

.cloud2 {
    background-image: url("cloud.png");
    background-size: 15px;
    position: absolute;
    z-index: 2;
    left: 100%;
    top: 10%;
    width: 15px;
    height: 10px;
}

.cloud3 {
    background-image: url("cloud.png");
    background-size: 45px;
    position: absolute;
    z-index: 3;
    left: 100%;
    top: 20%;
    width: 45px;
    height: 30px;
}

.judul, .jdl {
    z-index: 4;
    font-weight: bolder;
    font-family: cursive, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 0%;
    color: brown;
}

.jdl {height: 75%;font-size: 60px;color: darkred;}

.mulai, .aturan, .buku, .tentang {
    padding: 5px;
}

.mulai1, .aturan1, .buku1, .tentang1 {
    color: white;
    text-decoration: none;
}

.bx {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;
}

.mulai:hover, .aturan:hover, .buku:hover, .tentang:hover {
    background-color: white;
    color: black;
}

.back {
    position: absolute;
    bottom: 5px;
    left: 5px;
    border: 1px solid white;
    color: white;
    z-index: 5;
    font-size: 10px;
    padding: 5px;
}

.back:hover {
    background-color: white;
    color: black;
}